.message {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.messageTop {
    display: flex;

}

.messageImg {
    width : 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover ;
    margin-right: 10px;
}

.messageText {
    background-color: lightgray;
    color: black;
    border-radius: 20px;
}

.messageBottom {
    font-size:  12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    padding:10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300 px;
}